[run]
source = .
omit =
    */tests/*
    */migrations/*
    */management/*
    */__init__.py
    */apps.py
    */admin.py
    manage.py
    */wsgi.py
    */asgi.py
    */settings/*
    */urls.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise Http404
    except ImportError
    def __str__

[html]
directory = htmlcov
